schem
UsersAssignment/.early.coverage
UsersAssignment/node_modules/
UsersAssignment/test
UsersAssignment/.env
UsersAssignment/schema.sql
UsersAssignment/Dockerfile

frontend-gateway/node_modules/
frontend-gateway/public
frontend-gateway/Dockerfile

AccountsSecurity/.early.coverage
AccountsSecurity/dist
AccountsSecurity/node_modules/
AccountsSecurity/test
AccountsSecurity/.env
AccountsSecurity/schema.sql
AccountsSecurity/Dockerfile

init.sql
init-db.sh
docker-compose.yml
nginx.conf